/* aboutme.css - Estilo para a seção Sobre Mim */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

#about-me {
    background-color: #08000d;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha para telas menores */
}

#about-me .image-container {
    padding: 0 0 0%; /* A imagem ocupa 40% da largura */
    max-width: 36%; /* Limita a largura máxima da imagem */
}

#about-me .image-container img {
    height: 905px;
    padding: 0px;
}

#about-me .text-container {
    flex: 1 1 41%; /* O texto ocupa 55% da largura */
    color: #ffffff;
}

#about-me h2 {
    font-size: 2.7rem;
    padding: 0px 0px 30px 100px;
    position: relative;
    color: #ffffff;
}

#about-me p {
    font-weight: 300;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    padding: 0px 0px 0px 100px;
}
