/* aboutme.css - Estilo para a seção Sobre Mim */
#about-me {
    background-color: #000000;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha para telas menores */
}

#about-me .image-container {
    flex: 0 0 40%; /* A imagem ocupa 40% da largura */
    max-width: 40%; /* Limita a largura máxima da imagem */
    text-align: center;
}

#about-me .image-container img {
    width: 100%;
    height: 905px;
    padding: 0px;
}

#about-me .text-container {
    flex: 1 1 55%; /* O texto ocupa 55% da largura */
    color: #ffffff;
}

#about-me h2 {
    font-size: 2.7rem;
    padding: 0px 0px 30px 100px;
    position: relative;
    color: #ffffff;
}

#about-me p {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0px 0px 0px 100px;
}
