footer {
    background-color: #08000d;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 25%;
}

footer ul li img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

footer ul li img:hover {
    transform: scale(1.1);
}

.linha-2 {
    height: 1px;
    border: 0px;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.151), transparent);
    width: 100%;
}

.footer-text {
    display: flex;
    justify-content: center;
    gap: 60%;
    margin-top: 10px;
}

.footer-text p {
    margin: 0;
}
