footer {
    background-color: #08000d;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center; /* Alinha os ícones horizontalmente */
    gap: 25%; /* Espaçamento entre os ícones */
}

footer ul li img {
    width: 50px; /* Tamanho fixo dos ícones */
    height: auto;
    transition: transform 0.3s ease; /* Efeito de hover */
}

footer ul li img:hover {
    transform: scale(1.1); /* Aumenta levemente ao passar o mouse */
}

.linha-2 {
    border: none;
    border-top: 1px solid #797979;
    width: 75%;
    margin: 0 auto;
}

/* Alinha os dois <p> lado a lado */
.footer-text {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    gap: 60%; /* Espaçamento entre os textos */
    margin-top: 10px;
}

.footer-text p {
    margin: 0;
}
