* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #08000d;
    color: #000000;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Segoe UI', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 40px 20px;
    margin: 0;
    border-top: 0px solid #d3d3d3;
}

#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

html::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
}

html::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(0deg, #8000d2, #2b2bc2);
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, #ff0000, #ff7f00);
}

@media screen and (max-width: 390px) {
    #about-me {
        flex-direction: column; 
        align-items: center; 
        gap: 10px;
    }

    section {
        padding: 20px 5px; 
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem; 
    }

    h3 {
        font-size: 1.2rem; 
    }

    html::-webkit-scrollbar {
        width: 8px; 
        height: 8px;
    }

    html::-webkit-scrollbar-thumb {
        background: linear-gradient(0deg, #ff0000, #ff7f00);
    }
}
