@import url('https://fonts.googleapis.com/css2?family=Bangers&family=JotiOne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

#presentation {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(255, 255, 255, 0.151);
  text-align: center;
  padding: 404px 20px;
}

#presentation h1 {
  font-size: 4.5rem;
  font-family: "Bangers", sans-serif;
  color: #fff;
  margin-bottom: 20px;
  transition: transform 0.3s ease-out;
  text-shadow: none;
}

#presentation h1:hover {
  transform: scale(1.2);
}

#presentation p {
  font-size: 1.25rem;
  font-family: 'JotiOne', sans-serif;
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.6;
  text-shadow: none;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 480px) {
  #presentation {
    padding: 423px 20px;  /* Ajustar padding para telas muito pequenas */
  }

  #presentation h1 {
    font-size: 2.5rem;  /* Diminuir o tamanho da fonte do título */
  }

  #presentation p {
    font-size: 0.875rem;  /* Reduzir ainda mais o tamanho da fonte */
    max-width: 90%;  /* Ajustar a largura máxima do parágrafo */
  }
}

@media screen and (max-width: 390px) {
  #presentation {
    padding: 380px 20px;  /* Ajustar padding para telas muito pequenas */
  }

  #presentation h1 {
    font-size: 2.5rem;  /* Diminuir o tamanho da fonte do título */
  }

  #presentation p {
    font-size: 0.875rem;  /* Reduzir ainda mais o tamanho da fonte */
    max-width: 90%;  /* Ajustar a largura máxima do parágrafo */
  }
}