#projects {
    padding: 90px 20px 85px 2px;
    background-color: #08000d;
    display: grid;
    border-top: 1px solid rgba(255, 255, 255, 0.151);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.5fr;
    gap: 10px;
    z-index: 99;
    border-radius: 15px;
}

#projects h2 {
    font-size: 3rem;
    padding: 0%;
    text-align: center;
    color: #ffffff;
    grid-column: span 3;
}

#projects .project {
    text-align: center;
}

#projects .project img {
    height: 80%;
    width: 80%;
    border: 1px solid #ffffff27;
    height: auto;
    border-radius: 8px;
}

#projects .project p {
    font-size: 18px;
    color: #333;
    margin-top: 11px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal-content {
    background-color: #08000D;
    padding: 20px;
    height: 75vh;
    width: 70vw;
    border-radius: 8px;
    display: grid;
    border: 1px solid #ffffff27;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    position: relative;
}

.modal-content h3 {
    font-size: 13px;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modal-content p strong {
    font-size: 1.3rem;
    color: #6a00cc;
    margin-top: 10px;
    text-align: center;
}

.modal-content p {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 10px;
    text-align: justify;
}

#modal-description {
    font-size: 18px;
    color: white;
    margin-top: 15px;
    text-align: left;
}

#modal-image {
    height: 250px;
    width: auto;
    border-radius: 8px;
    border: 1px solid #ffffff27;
    max-width: 100%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-tech-icons {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 0px;
}

#modal-tech-icons img {
    width: 50px;
    height: 50px;
}

.carousel {
    display: none;
}

.carousel {
    display: none; /* Por padrão, o carousel está oculto */
}

@media screen and (min-width: 1024px) {
    .mobile-only {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    /* Carousel */
    .carousel {
        display: flex; /* O carousel será visível em telas menores */
        width: 100%;
        height: 632px;
        overflow: hidden;
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.151);
    }

    #carousel h2 {
        font-size: 2rem;
        padding: 15%;
        text-align: center;
        color: #ffffff;
        grid-column: span 3;
    }

    #projects {
        display: none; /* Esconder os projetos no mobile */
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: 100%;
        height: 93%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .carousel-item img {
        width: 100%;
        height: 40%;
        object-fit: cover;
        border: 1px solid #ffffff27;
        border-radius: 8px;
    }

    .carousel-item.active {
        display: flex;
    }

    /* Estilizando os controles (setas de navegação) */
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: 300px;
        z-index: 10;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(255, 255, 255, 0.9);
        transform: scale(1.1);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
    }

    .carousel-control-prev {
        left: 10%;
    }

    .carousel-control-next {
        right: 10%;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .carousel-indicators .active {
        background-color: #fff;
    }

    /* Modal */
    .modal {
        display: none; /* O modal inicialmente estará escondido */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .modal-content {
        background-color: #08000D;
        padding: 50px 20px 20px 20px;
        height: 98vh; /* Ajustando a altura para caber melhor no mobile */
        width: 97vw; /* Ajustando a largura para ser mais responsiva */
        border-radius: 8px;
        display: grid;
        border: 1px solid #ffffff27;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 10px;
        position: relative;
    }

    .modal-content h3 {
        font-size: 0.7rem; /* Ajustando o tamanho da fonte */
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    }

    .modal-content p {
        font-size: 1rem; /* Ajustando o tamanho da fonte */
        color: #ffffff;
        margin-top: 10px;
        text-align: justify;
    }

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #modal-description {
        font-size: 1rem;
        color: white;
        margin-top: 15px;
        text-align: left;
    }

    #modal-tech-icons {
        display: flex;
        justify-content: center; /* Ajustando o alinhamento dos ícones */
        gap: 10px;
        margin-top: 10px;
    }

    #modal-tech-icons img {
        width: 40px; /* Ajustando os ícones */
        height: 40px;
    }

    #modal-image {
        height: 200px; /* Ajustando a altura da imagem */
        padding: 0px;
        width: auto;
        border-radius: 8px;
        border: 1px solid #ffffff27;
        max-width: 100%;
    }

    /* Se você tiver outros elementos que quiser ajustar ou ocultar, adicione aqui */
    #projects {
        display: none; /* Esconder os projetos no mobile */
    }
}

@media screen and (max-width: 390px) {
    /* Carousel */
    .carousel {
        display: flex; /* O carousel será visível em telas menores */
        width: 100%;
        height: 586px;
        overflow: hidden;
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.151);
    }

    #carousel h2 {
        font-size: 2rem;
        padding: 15%;
        text-align: center;
        color: #ffffff;
        grid-column: span 3;
    }

    #projects {
        display: none; /* Esconder os projetos no mobile */
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .carousel-item img {
        width: 100%;
        height: 40%;
        object-fit: cover;
        border: 1px solid #ffffff27;
        border-radius: 8px;
    }

    .carousel-item.active {
        display: flex;
    }

    /* Estilizando os controles (setas de navegação) */
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: 300px;
        z-index: 10;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(255, 255, 255, 0.9);
        transform: scale(1.1);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
    }

    .carousel-control-prev {
        left: 10%;
    }

    .carousel-control-next {
        right: 10%;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .carousel-indicators .active {
        background-color: #fff;
    }

    /* Modal */
    .modal {
        display: none; /* O modal inicialmente estará escondido */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .modal-content {
        background-color: #08000D;
        padding: 50px 20px 20px 20px;
        height: 98vh; /* Ajustando a altura para caber melhor no mobile */
        width: 97vw; /* Ajustando a largura para ser mais responsiva */
        border-radius: 8px;
        display: grid;
        border: 1px solid #ffffff27;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 10px;
        position: relative;
    }

    .modal-content h3 {
        font-size: 0.7rem; /* Ajustando o tamanho da fonte */
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    }

    .modal-content p {
        font-size: 1rem; /* Ajustando o tamanho da fonte */
        color: #ffffff;
        margin-top: 10px;
        text-align: justify;
    }

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #modal-description {
        font-size: 1rem;
        color: white;
        margin-top: 15px;
        text-align: left;
    }

    #modal-tech-icons {
        display: flex;
        justify-content: center; /* Ajustando o alinhamento dos ícones */
        gap: 10px;
        margin-top: 10px;
    }

    #modal-tech-icons img {
        width: 40px; /* Ajustando os ícones */
        height: 40px;
    }

    #modal-image {
        height: 200px; /* Ajustando a altura da imagem */
        padding: 0px;
        width: auto;
        border-radius: 8px;
        border: 1px solid #ffffff27;
        max-width: 100%;
    }

    /* Se você tiver outros elementos que quiser ajustar ou ocultar, adicione aqui */
    #projects {
        display: none; /* Esconder os projetos no mobile */
    }
}

@media screen and (max-width: 360px) {
    /* Carousel */
    .carousel {
        display: flex; /* O carousel será visível em telas menores */
        width: 100%;
        height: 586px;
        overflow: hidden;
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.151);
    }

    #carousel h2 {
        font-size: 2rem;
        padding: 15%;
        text-align: center;
        color: #ffffff;
        grid-column: span 3;
    }

    #projects {
        display: none; /* Esconder os projetos no mobile */
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .carousel-item img {
        width: 100%;
        height: 33%;
        object-fit: cover;
        border: 1px solid #ffffff27;
        border-radius: 8px;
    }

    .carousel-item.active {
        display: flex;
    }

    /* Estilizando os controles (setas de navegação) */
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        bottom: 300px;
        z-index: 10;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(255, 255, 255, 0.9);
        transform: scale(1.1);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
    }

    .carousel-control-prev {
        left: 10%;
    }

    .carousel-control-next {
        right: 10%;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .carousel-indicators .active {
        background-color: #fff;
    }

    /* Modal */
    .modal {
        display: none; /* O modal inicialmente estará escondido */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .modal-content {
        background-color: #08000D;
        padding: 50px 20px 20px 20px;
        height: 98vh; /* Ajustando a altura para caber melhor no mobile */
        width: 97vw; /* Ajustando a largura para ser mais responsiva */
        border-radius: 8px;
        display: grid;
        border: 1px solid #ffffff27;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 10px;
        position: relative;
    }

    .modal-content h3 {
        font-size: 0.7rem; /* Ajustando o tamanho da fonte */
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    }

    .modal-content p {
        font-size: 1rem; /* Ajustando o tamanho da fonte */
        color: #ffffff;
        margin-top: 10px;
        text-align: justify;
    }

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #modal-description {
        font-size: 1rem;
        color: white;
        margin-top: 15px;
        text-align: left;
    }

    #modal-tech-icons {
        display: flex;
        justify-content: center; /* Ajustando o alinhamento dos ícones */
        gap: 10px;
        margin-top: 10px;
    }

    #modal-tech-icons img {
        width: 40px; /* Ajustando os ícones */
        height: 40px;
    }

    #modal-image {
        height: 200px; /* Ajustando a altura da imagem */
        padding: 0px;
        width: auto;
        border-radius: 8px;
        border: 1px solid #ffffff27;
        max-width: 100%;
    }

    /* Se você tiver outros elementos que quiser ajustar ou ocultar, adicione aqui */
    #projects {
        display: none; /* Esconder os projetos no mobile */
    }
}


