/* projects.css - Estilo para a seção de Projetos */
#projects {
    padding: 90px 20px 85px 2px;
    background-color: #08000d;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    grid-gap: 70px; /* Espaço entre as colunas e linhas */
}

#projects h2 {
    font-size: 3rem;
    padding: 0% 0% 0% 0%;
    text-align: center;
    color: #ffffff;
    grid-column: span 3;
}

#projects .project {
    text-align: center;
}

#projects .project img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

#projects .project p {
    font-size: 18px;
    color: #333;
    margin-top: 11px;
}
