/* Estilo para a seção de Tecnologias */
#technologies {
    padding: 90px 0px 643px 0px;
    background-color: #08000d;
}

#technologies h2 {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

#technologies ul {
    list-style-type: none;
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#technologies ul li {
    font-size: 20px;
    color: #555;
    margin: 30px 70px; /* Ajuste o espaçamento entre os itens */
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    justify-content: center; /* Centraliza os itens dentro do li */
    position: relative; /* Para posicionar o círculo em volta da imagem */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

#technologies ul li img {
    width: 70px; /* Ajuste o tamanho da imagem */
    height: 70px; /* Ajuste o tamanho da imagem */
    position: absolute;
    z-index: 1; /* A imagem ficará sobre o círculo */
    transition: filter 0.3s ease-in-out; /* Adiciona a transição para o filtro */
}

/* Efeito de brilho e escalonamento quando o mouse passa */
#technologies ul li:hover {
    transform: scale(1.1); /* Aumenta o ícone quando o mouse passar sobre */
}

#technologies ul li:hover img {
    filter: brightness(1.5); /* Aumenta o brilho da imagem */
}

#technologies ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px; /* Tamanho do círculo */
    height: 120px; /* Tamanho do círculo */
    background-color: transparent; /* Círculo sem fundo */
    border: 3px solid #fff; /* Cor do círculo */
    border-radius: 50%; /* Faz o círculo */
    transform: translate(-50%, -50%); /* Centraliza o círculo em relação ao item */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Efeito de brilho */
    z-index: 0; /* Círculo atrás da imagem */
    transition: box-shadow 0.3s ease-in-out; /* Transição suave para o brilho */
}

/* Quando o mouse passa sobre o item, o círculo também brilha */
#technologies ul li:hover::before {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8); /* Aumenta o brilho do círculo */
}
