#technologies {
    padding: 102px 0px 643px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.151);
    background-color: #08000d;
}

#technologies h2 {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

#technologies ul {
    list-style-type: none;
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#technologies ul li {
    font-size: 20px;
    color: #555;
    margin: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

#technologies ul li img {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    transition: filter 0.3s ease-in-out;
}

#technologies ul li:hover {
    transform: scale(1.1);
}

#technologies ul li:hover img {
    filter: brightness(1.5);
}

#technologies ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    z-index: 0;
    transition: box-shadow 0.3s ease-in-out;
}

#technologies ul li:hover::before {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 480px) {
    #technologies {
        padding: 25px 0px 416px 0px;
    }

    #technologies h2 {
        font-size: 2rem;
        padding: 15%;
    }

    #technologies ul {
        padding: 30px 0 57px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    #technologies ul li {
        text-align: center;
    }

    #technologies ul li img {
        width: 40px;
        height: 40px;
    }

    #technologies ul li::before {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 390px), (max-width: 360px) {
    #technologies {
        padding: 25px 0px 291px 0px;
    }

    #technologies h2 {
        font-size: 2rem;
        padding: 15%;
    }

    #technologies ul {
        padding: 28px 0 56px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    #technologies ul li {
        text-align: center;
    }

    #technologies ul li img {
        width: 40px;
        height: 40px;
    }

    #technologies ul li::before {
        width: 60px;
        height: 60px;
    }
}
